<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <h2>Blogue</h2>

      <div>
        <%= link_to "Home", blogs_path %>
        <% if is_admin%>
          <%= link_to "New", new_blog_path%>
          <%= link_to "Sign-out", admin_path, data: { turbo_method: :delete }%>
        <% end %>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
